.form {
    display: table;
    margin: 0 auto;
}

.tableRow {
    display: table-row;
    border-spacing: 0.2em;
}

.tableRow p {
    display: table-cell;
}

.tableRow p:first-child {
    padding-right: 9.8em;
}

.tableRow p:nth-child(2n) {
    text-align: left;
}

.tableRow:last-child p {
    text-align: center;
}

.input1, .textarea1 {
    width: 16em;
    font-size: inherit;
}

.select1 {
    width: 11em;
    border: 1px solid black;
    background-color: #696969;
    color: white;
    font-size: inherit;
    border-radius: 10px;
}

.textarea1 {
    height: 7em;
    resize: none;
    border: 1px solid grey;
}

.input1 {
    border: none;
    border-bottom: 1px dotted grey;
}

.input1:focus, .textarea1:focus, .select1:focus {
    outline: none;
}

.input1:focus {
    border-bottom: 1px solid black;
}

.textarea1:focus {
    border: 1px solid black;
}

.label {
    vertical-align: top;
}

.editWindow {
    font-size: 18px;
}
.editOverlay {
    background: #454345;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
}
.edit {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 25px 0 25px;
    margin-top: 15px;
    cursor: default;
    background-color: #fff;
    border-radius: 15px;
    z-index: 2000;
}

.warning {
    color: red;
    font-size: 16px;
}

@media (max-width: 991px) {
    .tableRow p:first-child {
        padding-right: 4em;
    }
}
@media (max-width: 767px) {
    .tableRow p:first-child {
        padding-right: 2em;
    }
}
@media (max-width: 575px) {
    .tableRow p {
        display: block;
    }
}
.group-change span {
    display: inline-block;
    padding: 0.2em 0.7em;
    cursor: pointer;
}
.group-change p:first-child {
    padding-right: 0;
}
.input1, .textarea1 {
    width: 16em;
    font-size: inherit;
}
.textarea1 {
    height: 7em;
    resize: none;
    border: 1px solid grey;
}
.input1 {
    border: none;
    border-bottom: 1px dotted grey;
}
.input1:focus, .textarea1:focus, .select1:focus {
    outline: none;
}
.input1:focus {
    border-bottom: 1px solid black;
}
.dateTill {
    font-size: 0.7em;
}
.spanHours {
    display: inline-block;
    width: 1em;
    text-align: right;
    vertical-align: top;
    font-size: 0.9em;
    margin-right: 0.5em;
}
.spanText {
    display: inline-block;
    width: 3em;
    text-align: left;
    vertical-align: top;
    font-size: 0.9em;
}
.reMindMeIn {
    width: 10em;
}
.textarea1:focus {
    border: 1px solid black;
}

@media (max-width: 991px) {
    .group-change span {
        width: 120px;
        font-size: 0.8em;
        padding-right: 1em;
    }
    .input1, .textarea1 {
        width: 14em;
    }
    .select1 {
        margin-left: 0.2em;
        font-size: 0.8em;
    }
}
@media (max-width: 767px) {
    .input1, .textarea1 {
        width: 10em;
    }
}
@media (max-width: 575px) {
    .input1, .textarea1 {
        width: 8em;
    }
    button[type="reset"], button[type="submit"] {
        display: block;
    }
}