.loginForm, .loginForm input {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	text-align: center;
}

.loginForm input[type=text],
.loginForm input[type=password],
.loginForm input[type=submit] {
	line-height: 1em;
	margin: 1em 0;
	padding: 6px 15px;
	border: 0;
	outline: none;
	font-family: Helvetica, sans-serif;
	font-size: 0.6em;
	font-weight: bold;
	border-radius: 26px;
	text-shadow: 0px 1px 1px rgba(255,255,255, .2);
}

.loginForm input[type=text],
.loginForm input[type=password] {
	color: #000;
	width: 60%;
	background: #e1e1e1;
	border: 1px solid silver;
}

.loginForm input[type=text]:hover,
.loginForm input[type=password]:hover {
	box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6), 0px 0px 5px rgba(255,255,255, .5);
}

.loginForm input[type=text]:focus,
.loginForm input[type=password]:focus {
	background: linear-gradient(top,  #ffffff 0%,#e1e1e1 100%);
}

.loginForm input[type=submit] {
	float: right;
	color: #445b0f;
	padding: 0.4em 1.4em;
	box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .45), 0px 1px 1px 0px rgba(0,0,0, .3);
}

.loginForm input[type=submit]:hover {
	box-shadow: inset 1px 1px 3px 0px rgba(255,255,255, .8), 0px 1px 1px 0px rgba(0,0,0, .6);
	cursor: pointer;
}

.loginForm input[type=submit]:active {
	box-shadow: none;
}

.loginForm input[type=submit] {
	background: #a5cd4e;
	background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
}

@media (max-width: 575px) {
	.loginForm {
		width: 90%;
		height: 90%;
	}
	.loginForm input[type=text],
	.loginForm input[type=password],
	.loginForm input[type=submit] {
		line-height: 1.5em;
		margin: 0.7em 0;
		font-size: 1.8em;
	}
}

@media (max-width: 767px) {
	.loginForm {
		width: 80%;
		height: 80%;
	}
	.loginForm input[type=text],
	.loginForm input[type=password],
	.loginForm input[type=submit] {
		line-height: 1em;
		font-size: 1.3em;
	}
	.nickname {
		font-size: 0.7em;
	}
}

@media (max-width: 991px) {
	.loginForm {
		width: 80%;
		height: 80%;
		transform: translate(-50%, -52%);
	}
	.loginForm input[type=text],
	.loginForm input[type=password],
	.loginForm input[type=submit] {
		line-height: 1em;
		font-size: 1em;
		font-weight: normal;
		border-radius: 15px;
	}
}