.form {
    display: table;
    margin: 0 auto;
}

.tableRow {
    display: table-row;
    border-spacing: 0.2em;
}

.tableRow p {
    display: table-cell;
}

.tableRow p:first-child {
    padding-right: 9.8em;
}

.tableRow p:nth-child(2n) {
    text-align: left;
}

.dataLoading {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hr {
    width: 100%;
}

@media (max-width: 991px) {
    .tableRow p:first-child {
        padding-right: 4em;
    }
}
@media (max-width: 767px) {
    .tableRow p:first-child {
        padding-right: 2em;
    }
}
@media (max-width: 575px) {
    .tableRow p {
        display: block;
    }
}