.title, .nickname, .login {
    display: inline-block;
    vertical-align: middle;
}

.title {
    padding-left: 2.5em;
    font-family: sans-serif;
    font-weight: 500;
    width: 100%;
}

.nickname {
    float: right;
    padding: 2.2em 2.5em 0 0;
    text-decoration: underline;
    vertical-align: middle;
}

.circle {
    display: inline-block;
    position: relative;
    top: -1em;
    left: 5.2em;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    animation: blink1 1s linear infinite;
}

.circle:hover {
    animation: none;
}

@keyframes blink1 {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.8
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

.circle:hover::after {
    content: attr(data-title);
    position: absolute;
    left: 20%; top: 30%;
    z-index: 1;
    background: rgba(255,255,230,0.9);
    font-family: Arial, sans-serif;
    font-size: 11px;
    padding: 5px 10px;
    border: 1px solid #333;
    text-align: center;
}

.login {
    color: inherit;
}

.login:hover {
    color: white;
    text-decoration: none;
}

.nav {
    margin: 2em 0 1em 0;
    padding: 0 0 20px 0;
    text-align: center;
    list-style: none;
    border-bottom: 2px solid black;
}

.link {
    display: inline-block;
    width: 7em;
    padding: 5px 10px;
    color: #fff;
    background-color: black;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}

.margin {
    display: inline-block;
    margin: 0.2em 0.4em;
}

.dropDown {
    color: inherit;
}


li:enabled:active {
    background-color: red !important;
}

@media (max-width: 575px) {
    .title, .nickname, .login {
        display: block;
        text-align: center;
    }
    .login {
        width: 30%;
        margin: 1em auto;
    }
    .right {
        float: none;
    }
    .nickname {
        margin: 2em 0 0 0;
    }
    .link {
        padding: 0.2em 1em;
    }
}
@media (max-width: 767px) {
    .nickname {
        font-size: 0.7em;
    }
}
@media (max-width: 991px) {
    .margin {
        display: block;
        width: 80%;
        margin: 0.2em auto;
    }
    .link {
        padding: 0.2em 5em;
    }
    .margin {
        display: inline-block;
        margin: 0 0.2em;
    }
    .title {
        margin-left: 0;
    }
    .right {
        margin-right: 0;
    }
    .navSize {
        font-size: 0.78em;
    }
}
@media (max-width: 1199px) {
    .link {
        margin: 0;
    }
}